@inject IJSRuntime JS

@if (Visible)
{
	<div class="root"
		 style="transform:translate(@CssTranslateX,@CssTranslateY); width:@Width; height:@Height">
		<div class="topBar">
			<div @onmousedown="OnTitleMouseDown" class="titleBar">
				@Title
			</div>
			<div @onclick="OnCloseClick" class="closeButton">&#215;</div>
		</div>
		<div class="content">
			@Content
		</div>
	</div>
}